<!DOCTYPE html>
<html>
	<head>
		<title>Ruby Isley</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/aboutme">About Me</a></li>
        		<li><a href="/mywork">My Work</a></li>
        		<li><a href="/getintouch">Get in Touch</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Welcome!</h1>
			<p>I'm <b>Ruby Isley</b> (she/her).</p>
			<p>Get to know me a little better <a href="/aboutme">here.</a></p>
			<p>Or, check out my resume <a href="https://drive.google.com/file/d/1IwXwY3gTiHGpUf1ovC5Y_kb5Onw_U9J0/view?usp=sharing" target="_blank">here</a>.</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>The source code for this website is at: <a href="https://github.com/rubsie7/rubsie7.github.io">github.com/rubsie7/rubsie7.github.io</a></li>
			</ul>
		</footer>
	</body>
</html>
